p {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1rem;
}

.select-center {
  text-align-last: center;
}

.ml-tiny {
  margin-left: 0.125rem;
}

.SetSpecificPart h2 {
  margin-top: 1.5rem;
}

.SetSpecificPart h3 {
  margin-top: 1.25rem;
}

.SetSpecificPart ul {
  list-style: square;
  margin-top: 0.75rem;
}

.SetSpecificPart li {
  line-height: 1.5;
  font-size: 1rem;
}

@media screen and (min-width: 576px) {
  p {
    font-size: 1.25rem;
  }

  .SetSpecificPart li {
    font-size: 1.25rem;
  }
}
