h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 100%;
}

.container-sm {
  max-width: 576px;
}

.container-md {
  max-width: 768px;
}

.container-lg {
  max-width: 992px;
}

.container-xl {
  max-width: 1200px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.App {
  display: flex;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.CardList {
  padding: 0;
  list-style: none;
  width: 90%;
  max-width: 450px;
}

.Card {
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}
