.container {
  width: 100%;
}

.container-sm {
  max-width: 576px;
}

.container-md {
  max-width: 768px;
}

.container-lg {
  max-width: 992px;
}

.container-xl {
  max-width: 1200px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.App {
  display: flex;
  align-items: center;
}
